<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello <%= user.username %></title>
</head>
<body>
    <header>
        <h1>Hello <%= user.username %> welcome to Marco Polo</h1>
        <nav>       
            <a href="/dashboard/<%= user._id %>"> Created By Me </a>   &nbsp;  &nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 
            <a href="/posts/new"> Create </a>   &nbsp;  &nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 
            <a href="/logout">Logout</a> 
        </nav>
    </header>

   <nav> <br>
    <a href="/posts"> Lost and Found Posts </a>    <br>
</nav>
</body>
</html>