<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/script.js"> </script>
    <link href="/g4.css" rel="stylesheet">
    <title> My Postings</title>    
</head>
<body>
<div id="logo"> Marco Polo 📦 </div>
<header>
    <div id="top">
        <a href="/dashboard">home</a>   
        <a href="/resources">🚀</a>      
    </div>
</header>
<h1> My Lost and Found Listings </h1> 

<div id="top1">

    <a href="/posts/new"> Create a new post</a>  <br>
    
    <br><a href="/posts/search"> Search for a post</a>    
        </div>
<div id="page-content"> 
    <% posts.forEach(post => { %> 
    <div class="container"> 
        <img src= "<%= post.img %>" alt="avatar" class="img">
                <div class="text"> 
                    <a href="/posts/<%= post._id%>"> <%= post.title %> </a>
                    <h5><%= post.location %>  </h5>
                </div>
            </div>
            <% }); %> 
        </div>
</body>
</html>
