<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script defer src="js/script.js"> </script>
    <title>Lost and Found Posts</title>    
</head>
<body>
    <header> 
        <div class="scroller">
            <img src="logo.png" id="logo">
            <a href="/dashboard"id="home"> ⌂ </a>  
            <a href="/posts/new"id="lnfp"> ✎ </a>   
            <a href="/resources"id="rckt"> 🚀 </a>  
            <a href="/posts/search"> Search for a post</a>
            
    </div>

</header>
<div id=page> 

<h1> Lost and Found </h1>

   
<figure id="figure"> 
    <% posts.forEach(post => { %> 

    <div class="container"> 

        
        <img src= "<%= post.img %>" alt="avatar" class="img">
            <div class="overlay"> 
                <div class="text"> 
                    <a href="/posts/<%= post._id%>"> <%= post.title %> </a>
                    <p id="location"> <%= post.location %> </p>
                </div>
            </div>
        </div>
   
   
  

  
    <% }); %> </figure>
   



</body>
</html>


