<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/g3.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>   
<div id="logo"> Marco Polo 📦 </div>
<div id="page-content"> 
    <h1>Login</h1>
    <% if(error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/login" method="POST" autocomplete="off">
        <h4> Enter Password</h4>
        <label>
            <input type="text" id="username" name="username" required>
        </label><br>
        <h4> Enter Password</h4>
        <label>
            <input type="password" id="password" name="password" required>
        </label> <br>
        <input type="submit" value="Login" id="btn">
   <p> Forgot your password? <br>
    Don't have an account? Request a demo!</p>
    </form>

</div>
</body>
</html>