<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
</head>
<body>
    <nav> 
        <a href="/dashboard"> Back to Home</a>
    </nav>
<h1> Add a New Item to Your Lost and Found List 📦</h1>
<form action="/posts" method="POST">
    Title: <input type="text" name="title" /> <br>
    Description: <input type="text" name="description" /> <br>
    Img: <input type="text" name="img" /> <br>
    Location: <input type="text" name="location" /> <br>
<input type="submit" name="" value="Add Listing" />



</form>
    
</body>

</html>