<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Marco Polo.io </title>
    <header>
        <nav>
        <div id="top">
            <a href="/platform">platform</a>
            <a href="/about">about</a>
            <a href="/resources">resources</a>
          
            
                <% if(user) { %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login" id="login">Login</a>
                    <a href="/signup" id="signup">Signup</a>
                <% } %>
            </nav>
        </div>
    </header>
    </header>
</head>
<body>
    <img src="logo.png" id="logo">
    <h1 id="name"> how it works <br>
        ⌨️
        💬
        📦
        📬
    </h1>

    </h1>

    <p> with Marco Polo you can understand and nurture the culture of security within your organization
        <ul>
            <li>
                Marco Polo will change the way you and your community communicate and annouce local community messages about missing items
            </li>
            <li> 
                Marco Polo offers one central place with options for posts for your latest missing items from the club, the restaurant, the airport, your last Uber ride and more!
            </li>
        </ul>
    </p>

    <h4>
        <ul>
            <li>
                Create a safe and respectful environment where you, your neighbor, your community member can file a missing pet or item report
            </li>
            <li>
                Engage in dialogue to make sure that you get your items returned back to you in a safe and seamless way!
            </li>
        </ul>
    </h4>

    
    <div class="copyright-container">
        <footer>
            <p>Copyright &copy; Alba <span id=“year”></span> All Rights Reserved<p></p>
        </footer>
</html>