<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> How Marco Polo Uses Your Data </h1>

    <h4> Manage your data and activity</h4>

    <h4> Get a copy of your data </h4>

    <h4> Change Profile Picture</h4>
    <form action="/picture" method="POST" autocomplete="off"></form>
        <label>Upload picture: 
            <input type="text" id="picture" name="password" required>
        </label><br>
        <input type="submit" value="Change" id="picture">

    </form>

    <h4> Search History </h4>

    <h4> Change Username</h4>
    
        <form action="/username" method="POST" autocomplete="off">
            <label>Username:
                <input type="text" id="username" name="username" required>
            </label><br>
            <input type="submit" value="Change" id="username">
        </form>

    <h4> Change Password</h4>
        <form action="/password" method="POST" autocomplete="off"></form>
            <label>Password:
                <input type="password" id="password" name="password" required>
            </label><br>
            <input type="submit" value="Change" id="pwd">
        </form>


</body>
</html>