<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/script.js"></script>
    <link href="/g3.css" rel="stylesheet">
    <title>Search for a Post</title>
</head>
<body>
    <header>
        <div id="top">
            <a href="/dashboard">home</a>   
            <a href="/resources">🚀</a>  
            <a href="/psettings">settings</a>    
            <a href="/logout">Logout</a>  
            </div>
    </header>
    <div id="logo"> Marco Polo 📦 </div>

<div id="page-content"> 

    <h1> Search Marco Polo </h1>
    
    <input id="search-input" type="text">
    <button id="search-btn">Search</button>
    <ul id="results"></ul>
</div>
</body>

</html>