body {
    margin:0;
    height: 100%;
    width: 100%;
    font-family:'Open Sans', sans-serif;
    background-color: rgb(242,240,234);
    display: flex;
    flex-wrap: wrap;
}

header {
    font-size: 10px;
    line-height: 14px;
    background-position: 0% 0%;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 580px;
    right: 40px;
    display: block;
    z-index: 20;
    cursor:pointer;
    text-transform: uppercase;
}

#top {
    text-decoration: none;
    text-align:right;
    color:  rgb(25,84,38);
}

a {
    text-decoration: none;
    color:  rgb(25,84,38);
    margin-left: 30px;
}
#top, #top1, .text > a:visited {
    color: rgb(240,60,29);

}

#top1 {
    text-transform: uppercase;
    display:grid;
    width: 100%;
    text-align: center;
   

}
h1 {
    text-decoration: none;
    color: rgb(25,84,38);
    font-size: 40px;
    color: rgb(53,69,163);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    width:100%;  
}



#logo {
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    color: rgb(240,60,29);   
    padding: 10px;
}

#img {
    width: 50%;
}
