body { 
    background: white;

}

#logo {
    background-color: white;
    height: 200px;
    width: 300px;
    float: left;
    display: block;   
}

#top {
    background-color: rgb(225, 223, 0);
    font-size: 14px;
    font-weight: 200px;
    line-height: 34.8px;
    color: white;
    word-spacing: 75px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: block;
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    width: 1500px;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 11, 53);
    color: white;
}

#copyright-container {
    font-size: 10px;
}

#login, #signup {
    color: white;
}


#appPic {
    float: right;
    height: 506px;
    width: 600px;
    margin: 0 0 11px 0;
}